

body {
    background: #fff;
    color: #555;
}

body,
p {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
    line-height: 26px;
    font-size: 15px;
}

h1,h2,h3,h5,h5 {
    color: #212121;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
}

h1 {
    font-size: 36px;
    line-height: 48px;
}

h2 {
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: -.5px;
}

h4 {
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -.2px;
}

h5 {
    font-size: 14px;
    line-height: 24px;
}



html {
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}



a:link,
a:visited {
    text-decoration: none;
}

a {
    color: inherit;
    transition: .2s ease;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.advert-box a, p{
      font-size: 16px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}
/*main container*/
.banner2{
    height: 20px;
    width: 40px;
    position:center;
}

#logo1{
    height: 100px;
    width: 150px;
    padding:0;
}

.text-dark{
    color:gold;
}

section,
.section-padding {
    padding: 70px 0;
    position: relative;
}

a:focus {
    outline: 0;
}


/* 

/* Title */

.title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
}


/* Title Border */

/* Section title */

hr {
    background-color: #e7e7e7;
    border: 0;
    height: 1px;
    margin: 40px 0;
}

blockquote {
    padding: 20px;
    padding-left: 30px;
    border-left: 3px solid #ffb600;
    margin: 20px 0;
    background: #f9f9f9;
    position: relative;
}

blockquote:before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    font-size: 28px;
    color: #E5E5E5;
    top: 0;
    left: 0;
    z-index: 0;
}

blockquote p {
    font-size: 14px;
    line-height: 22px;
    position: relative;
    z-index: 1;
    font-style: italic;
}

cite {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}


/* Button */

.btn-primary,
.btn-dark {
    border: 0;
    border-radius: 3px;
    padding: 12px 20px 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.btn-white.btn-primary {
    background: #fff;
    color: #ffb600;
}

.btn-primary {
    background: #ffb600;
}

.btn-dark {
    background: #23282d;
}

.btn-primary:hover,
.btn-dark:hover,
.btn-white.btn-primary:hover {
    background: #111;
    color: #fff;
}

.general-btn {
    clear: both;
    margin-top: 50px;
}


/* Ul, Ol */

.list-round,
.list-arrow,
.list-check {
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
}

.list-round li {
    line-height: 28px;
}

.list-round li:before {
    font-family: FontAwesome;
    content: "\f138";
    margin-right: 10px;
    color: #ffb600;
    font-size: 12px;
}

.list-arrow {
    padding: 0;
}

ul.list-arrow li:before {
    font-family: FontAwesome;
    content: "\f105";
    margin-right: 10px;
    color: #ffb600;
    font-size: 16px;
}

ul.list-check li:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 10px;
    color: #ffb600;
    font-size: 14px;
}


/* Bootstrap */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover,
.nav-tabs>li>a {
    border: 0;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: none;
}

.pattern-bg {
    background: #f5f5f5 url(../images/crossword.png);
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}


/* Top Bar
================================================== */

.top-bar{
    padding: 8px 20px 8px;
    background: #ebebeb;
    position: relative;
}


/* Top info */

ul.top-info {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.top-info li {
    position: relative;
    line-height: 10px;
    display: inline-block;
    margin-left: 0;
    padding-right: 15px;
}

ul.top-info li i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

ul.top-info li p.info-text {
    margin: 0;
    line-height: normal;
    display: inline-block;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


/* Top social */

.top-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-social li {
    display: inline-block;
    padding: 0;
}

.top-social li a {
    color: #2c2c2c;
    margin-right: 15px;
    font-size: 14px;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.top-social li a:hover {
    color: #333;
}


/* Top bar border */

.top-bar-border {
    padding: 8px 20px 8px;
    border-bottom: 1px solid #ddd;
}

.top-bar-border ul.top-info {
    color: #707070;
    font-weight: 400;
}

.top-bar-border .top-social li a {
    color: #7c7c7c;
}

.top-bar-border ul.top-info li i {
    color: #ffb600;
}


/* Header area
================================================== */

.header {
    background: #fff;
    position: relative;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.navbar-fixed {
    z-index: 99999;
    position: fixed;
    opacity: .98;
    width: 100%;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    -moz-animation: fadeInDown 800ms;
    -ms-animation: fadeInDown 800ms;
    -o-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    -webkit-backface-visibility: hidden;
}


/*-- Logo --*/


/* header right */

.header-right {
    float: right;
}

ul.top-info-box {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

ul.top-info-box li {
    position: relative;
    float: left;
    margin-left: 0;
    border-right: 1px solid #dedede;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 25px;
    margin-right: 25px;
}

ul.top-info-box li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right:0;
}

ul.top-info-box li.last{
    border-right: 0;
}

ul.top-info-box li .info-box span.info-icon {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    float: left;
    margin: 2px 5px 0 0;
    position: relative;
}

ul.top-info-box li .info-box .info-box-content {
    display: inline-block;
    font-family: Montserrat;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

ul.top-info-box li .info-box .info-box-title {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: normal;
}

ul.top-info-box li .info-box .info-box-subtitle {
    margin: 0;
    line-height: normal;
    font-size: 15px;
    font-weight: 700;
    color: #111;
}


/*-- Search start --*/

ul.top-info-box>li.nav-search {
    cursor: pointer;
    padding-left: 30px;
    margin-left: 30px;
}

ul.top-info-box>li.nav-search:before {
    position: absolute;
    content: '';
    background: #ddd;
    left: 0;
    width: 1px;
    height: 40px;
    top: 50%;
    margin-top: -10px;
}

ul.top-info-box>li.nav-search i {
    font-size: 20px;
    top: 10px;
    position: relative;
    cursor: pointer;
    color: #999;
}


/* Main navigation */

.navbar-toggle {
    float: left;
    margin-top: 10px;
    padding: 12px;
}

.navbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.navbar-toggle {
   float: left;
    margin-top: 10px;
    padding: 8px;
    border-radius: 0;
    margin-right: 5px;
    background: #ffb600;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-toggle .i-bar {
    background: #fff;
}

ul.navbar-nav {
    float: left;
    display: inline-block;
}

ul.navbar-nav>li {
    float: none;
    display: inline-block;
}

ul.navbar-nav>li:hover>a,
ul.navbar-nav>li.active>a {
    color: #ffb600;
    position: relative;
}

ul.navbar-nav>li:hover>a:after,
ul.navbar-nav>li.active>a:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #ffb600;
}

ul.navbar-nav>li {
    padding: 0 13px;
    position: relative;
}

ul.navbar-nav>li:last-child {
    padding-right: 0;
}

ul.navbar-nav>li:last-child:after {
    background: none;
}

ul.navbar-nav>li>a {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-rendering: optimizeLegibility;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -.2px;
    font-size: 14px;
    margin: 0;
    line-height: 40px;
    padding: 30px 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus {
    background: none;
}

ul.navbar-nav>li>a i {
    font-weight: 700;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: transparent;
    border: 0;
}


/* Dropdown */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -2px;
    border-radius: 0;
}

.dropdown-submenu>a:after {
    display: block;
    content: "\f105";
    font-family: FontAwesome;
    float: right;
    margin-top: 0;
    margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
    text-align: left;
    background: #fff;
    z-index: 100;
    min-width: 200px;
    border-radius: 0;
    border: 0;
    border-top: 2px solid #ffb600;
    padding: 0 20px;
}

.dropdown-menu-large {
    min-width: 400px;
}

.dropdown-menu-large>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-menu-large>li>ul>li>a {
    padding-left: 0;
}

.dropdown-menu-large>li>ul>li.active>a {
    color: #ffb600;
}

.navbar-nav>li>.dropdown-menu a {
    background: none;
}

.dropdown-menu li a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 15px 0;
    letter-spacing: .3px;
    border-bottom: 1px solid #e5e5e5;
    color: #333333;
}

.dropdown-menu li:last-child>a {
    border-bottom: 0;
}


.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    color: #ffb600;
}


    }
    ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover .dropdown-menu {
        display: block;
    }
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>.dropdown-menu>.active>a {
    background: none;
    color: #ffb600;
}

/*-- Nav Search start --*/

.site-navigation .container,
.search-area{
    position: relative;
}

.search-area{
    min-height: 70px;
    padding-right: 0;
}

.nav-search{
    position: absolute;
    cursor: pointer;
    top: 22px;
    right: 10px;
    color: #999;
}


.search-block {
    background-color: rgba(0,0,0,.65);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 100%;
    width: 300px;
    z-index: 10;
    margin-top: 0;
}

.search-block .form-control {
    background-color: #222;
    border: none;
    color: #fff;
    width: 100%;
    height: 40px;
    padding: 0 12px;
}

.search-block .search-close {
    color: #999;
    position: absolute;
    top: -53px;
    right: -10px;
    font-size: 32px;
    cursor: pointer;
    background: #23282d;
    padding: 5px;
}

.search-area .nav-search{
    top: 23px;
}

.search-area .search-block .search-close{
    top: -50px;
}

.search-area .search-block {
    right: 0;
}

/* Get a quote */

.header-get-a-quote .btn-primary {
    padding: 12px 25px;
    font-size: 13px;
    border-radius: 3px;
    line-height: normal;
    text-transform: capitalize;
    color: #fff;
    margin-top: 5px;
}

.header-get-a-quote .btn-primary:hover {
    background: #272d33;
}

ul.navbar-nav>li.header-get-a-quote:hover>a:after {
    position: relative;
    content: no-close-quote;
}


/* Slider
================================================== */


/*-- Main slide --*/

#main-slide .item {
    min-height: 700px;
    color: #fff;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
}


/*-- Animation */

/*-- Owl slide common --*/



/* Owl Box slider */





.clients-logo {
    margin: 0 0 30px;
    border:1px solid #dadada;
    min-height: 105px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.clients-logo img{
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

/* Testimonial
================================================== */

.testimonial-area {
    padding: 100px 0;
    background-color: #ffb600;
    background-image: url(../images/parallax2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.testimonial-area .border-title,
.testimonial-area .border-sub-title {
    color: #fff;
}

.quote-item .quote-text {
    margin: 0 0 10px;
    display: inline-block;
    padding: 0 40px 30px 60px;
    background-color: #fff;
    position: relative;
    font-size: 16px;
    font-style: italic;
}

.quote-item .quote-text:before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    font-size: 30px;
    left: 0;
    top: 0;
    color: #ffc009;
}


img.testimonial-thumb {
    max-width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

.quote-item-info {
    padding-top: 15px;
    display: inline-block;
}

.quote-author {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 2px;
    font-weight: 700;
    display: block;
    color: #ffb600;
}


.quote-item-footer {
    margin-top: 0;
    margin-left: 60px;
}


/* Testimonial Border */

.quote-item.quote-border .quote-text-border {
    border: 1px solid #ffb600;
    padding: 20px;
    position: relative;
    line-height: 28px;
    color: #666;
    font-size: 18px;
    text-align: center;
}

.quote-item.quote-border .quote-text-border:before {
    border: 12px solid;
    border-color: #e1e1e1 transparent transparent;
    border-top-color: #ffb600;
    bottom: -24px;
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
}

.quote-item.quote-border .quote-text-border:after {
    border: 12px solid;
    border-color: #fff transparent transparent;
    bottom: -22px;
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
}

.quote-item.quote-border .quote-item-footer {
    margin-left: 0;
    text-align: center;
    margin-top: 35px;
}

.quote-item.quote-border .quote-item-footer img.testimonial-thumb {
    float: none;
    margin: 0;
}

.quote-item.quote-border .quote-item-footer .quote-item-info {
    display: block;
}


/* Subscribe area
================================================== */

.subscribe {
    background: #ffb600;
    padding: 0;
}


/* Call to action */

.subscribe-call-to-acton {
    min-height: 115px;
    padding: 30px 0 0 30px;
}

.subscribe-call-to-acton h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}

.subscribe-call-to-acton h4 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}


/* Newsletter */

.ts-newsletter {
    background: #252525;
    position: relative;
    min-height: 115px;
    padding: 30px 0 0 50px;
}

.ts-newsletter:after {
    content: "";
    position: absolute;
    background: #252525;
    display: block;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
}

.newsletter-introtext {
    float: left;
    color: #fff;
}

.newsletter-introtext h4 {
    margin: 0;
    color: #fff;
}

.newsletter-form {
    float: left;
    margin-left: 30px;
    margin-top: 3px;
    position: relative;
}

.newsletter-form input {
    background: none;
    min-width: 450px;
    font-size: 12px;
    text-transform: capitalize;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, .3);
}


/* News section
================================================== */

.latest-post {
    position: relative;
}

.latest-post .image-angle:before {
    border-bottom: 20px solid #f9f9f9;
}

.latest-post .post-title {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    font-weight: 600;
}

.latest-post .post-title a {
    color: #303030;
}

.latest-post .post-title a:hover {
    color: #ffb600;
}

.latest-post-meta{
    font-size: 13px;
    text-transform: uppercase;
}

.latest-post .post-body {
    padding: 20px 0 5px;
}


/* Footer
================================================== */


/*- Footer common */

.footer {
    background-color: #0d0d0d;
    color: #999;
}


.footer-main {
    padding: 80px 0 60px;
}

.footer .widget-title {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: 0 0 30px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #fff;
    border-left: 3px solid #ffb600;
}




/* Footer about us */

.

/* Footer social */

.footer-social {
    margin-top: 15px;
}

.footer-social .widget-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social ul li {
    margin: 0 10px 0 0;
    display: inline-block;
}

.footer-social ul li a i {
    display: block;
    font-size: 18px;
    color: #999;
    background: none;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.footer-social ul li a i:hover {
    color: #fff;
}




/* Links */

.footer-widget ul.list-arrow li {
    border-bottom: 1px solid rgba(255, 255, 255, .07);
    padding: 8px 0;
}

.footer-widget ul.list-arrow li:last-child {
    border-bottom: 0;
}

.footer-widget ul.list-arrow li a,
.footer-widget ul.list-arrow li:before {
    color: #747474;
}

.footer-widget ul.list-arrow li:hover a,
.footer-widget ul.list-arrow li:hover {
    color: #ffb600;
}

.working-hours {
    padding-right: 10px;
}

.working-hours .text-right {
    float: right;
}


/*-- Copyright --*/

.copyright {
    background: #ffb600;
    color: #111;
    padding: 25px 0;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 12px;
}

.footer-menu {
    float: right;
    height:20px;
}

.footer-menu ul li {
    display: inline-block;
    line-height: 12px;
    padding-left: 15px;
}

.footer-menu ul.nav li a {
    background: none;
    color: #111;
    padding: 0;
}

.footer-menu ul li a:hover {
    color: #fff;
}

#back-to-top {
    right: 40px;
    top: auto;
    z-index: 10;
    -webkit-backface-visibility: hidden;
}

#back-to-top.affix {
    bottom: 20px;
}

#back-to-top .btn.btn-primary {
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    color: #ffb600;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
}

#back-to-top .btn.btn-primary:hover {
    color: #fff;
}


/* Sub Pages
================================================== */


/*-- Title border --*/

.main-container .border-left {
    margin-bottom: 30px;
}


/*-- Banner --*/

.banner-area {
    position: relative;
    min-height: 300px;
    color: #fff;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
}

.banner-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 58px;
    font-weight: 900;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-heading{
    text-align: center;
}

.breadcrumb {
    padding: 0;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

.breadcrumb a:hover {
    color: #fff;
}


/*-- About us page --*/


/* Slider pages */

.page-slider.small-bg .item {
    min-height: 330px;
}

.page-slider.small-bg .box-slider-content {
    left: 20%;
}

.page-slider.small-bg .box-slider-text {
    background: rgba(0, 0, 0, 0.55);
    padding: 5px 20px;
}

.page-slider.small-bg .box-slide-title {
    font-size: 28px;
    color: #fff;
    font-weight: 900;
}


/*-- Get a quote page --*/

.page-quote-form {
    background: #f2f2f2;
    padding: 30px 50px 50px
}

.get-a-quote-img {
    margin-bottom: -190px;
}


/*-- Partners carousel --*/

.partner-logo {
    border: 1px solid #eee;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.partner-logo img {
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
    opacity: .6;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.partner-logo:hover img {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

#partners-carousel .partner-logo {
    border: 0;
    border-right: 1px solid #eee;
    padding: 0 15px;
    margin-top: 20px;
}

#partners-carousel .partner-logo.last {
    border-right: 0;
}


/*-- Team page --*/

.ts-team-wrapper {
    position: relative;
    overflow: hidden;
}

.ts-team-content {
    position: absolute;
    top: 76%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    margin-top: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.ts-team-wrapper:hover .ts-team-content {
    top: 0;
    padding-top: 50px;
}

.ts-team-content .ts-name {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 3px;
    line-height: normal;
    color: #ffb600;
}

.ts-team-content .ts-designation {
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
}

.team-social-icons a i {
    color: #fff;
    margin-right: 8px;
    text-align: center;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.team-social-icons a i:hover {
    color: #ffb600;
}


/* Team Classic */

.ts-team-content-classic .ts-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.ts-team-content-classic .ts-designation {
    color: #888;
    margin-bottom: 5px;
    font-weight: 600;
}

.ts-team-content-classic .team-social-icons a i {
    color: #999;
}

.ts-team-content-classic .team-social-icons a i:hover {
    color: #ffb600;
}


/*-- Pricing table  --*/

.ts-pricing-box {
    margin: 20px 0;
    padding: 0;
    text-align: center;
    background: #f9f9f9;
}

.ts-pricing-header {
    background: #252525;
    color: #fff;
    position: relative;
    padding: 30px 20px;
}


.ts-pricing-name {
    font-size: 18px;
    line-height: normal;
    margin: 0 0 5px 0;
    color: #fff;
}

.ts-pricing-price {
    font-size: 44px;
    color: #fff;
    margin: 15px 0 0;
    display: inline-block;
}

.ts-pricing-price>small {
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-top: 15px;
    color: #fff;
}

.ts-pricing-features {
    padding: 15px 0;
}

.ts-pricing-features>ul>li {
    padding: 20px 0;
    border-top: 1px dotted #e5e5e5;
}

.ts-pricing-features>ul>li:first-child {
    border-top: 0;
}

.ts-pricing-features>ul {
    padding: 0 20px;
}

.plan-action {
    padding-bottom: 40px;
}


/* Pricing featured */

.ts-pricing-box.ts-pricing-featured .ts-pricing-header {
    background: #ff9700;
}



/* Contact Us
================================================== */

.map {
    height: 450px;
    z-index: 1;
}

.contact-info-box {
    margin-top: 20px;
}

.contact-info-box i {
    float: left;
    font-size: 24px;
    color: #ffb600;
}

.contact-info-box-content {
    padding-left: 40px;
}

.contact-info-box-content h4 {
    font-size: 16px;
    margin-top: 0;
    line-height: normal;
    font-weight: 700;
}

.contact-info-box-content p {
    margin-bottom: 0;
}

label {
    font-weight: 400;
}


/* Contact page 2 */

.ts-service-box.text-center .ts-service-icon.icon-squre i {
    float: none;
    margin-bottom: 20px;
}

.ts-service-box.text-center .ts-service-box-content {
    margin: 0;
}




.post-footer .btn.btn-primary {
    font-size: 12px;
    margin-top: 10px;
}


/* Pagination */

.paging {
    margin-bottom: -5px;
}

.pagination {
    margin: 0;
}

.pagination li a {
    border-radius: 0 !important;
    margin-right: 8px;
    color: #7c7c7c;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:hover {
    color: #fff;
    background: #ffb600;
    border: 1px solid transparent;
}


/* News Single
================================================== */

.tags-area {
    margin: 20px 0;
}

.post-tags a {
    border: 1px solid #dadada;
    color: #7c7c7c;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    margin-left: 3px;
}

.post-tags a:hover {
    background: #ffb600;
    color: #fff;
    border: 1px solid transparent;
}


/* Post social */

.post-social-icons>li {
    display: inline-block;
}

.post-social-icons a i {
    margin-left: 5px;
    font-size: 16px;
    width: 28px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
}

.post-social-icons a i.fa-facebook {
    background: #677fb5;
}

.post-social-icons a i.fa-twitter {
    background: #70c2e9;
}

.post-social-icons a i.fa-google-plus {
    background: #c53942;
}

.post-social-icons a i.fa-linkedin {
    background: #3daccf;
}


/* Author box */

.author-box {
    border: 1px solid #dadada;
    padding: 20px 20px 15px;
    margin: 20px 0;
}

.author-img img {
    width: 110px;
    height: 110px;
    margin-right: 30px;
}

.author-info h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.author-info h3 span {
    font-size: 12px;
    color: #999;
    border-left: 1px solid #AFAFAF;
    padding-left: 10px;
    margin-left: 10px;
    font-weight: 500;
}


/* Comments area */

.comments-area {
    margin: 40px 0;
}

.comments-list .comment-content {
    margin: 15px 0;
}

.comments-list .comment-reply {
    color: #303030;
    font-weight: 400;
}

.comments-list .comment-reply:hover {
    color: #ffb600;
}

.comments-counter {
    font-size: 18px;
}

.comments-counter a {
    color: #323232;
}

.comments-list {
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

.comments-list .comment {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.comments-list .comment.last {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.comments-list img.comment-avatar {
    width: 84px;
    height: 84px;
    margin-right: 30px;
}

.comments-list .comment-body {
    margin-left: 110px;
}

.comments-list .comment-author {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
    color: #303030;
}

.comments-list .comment-date {
    color: #959595;
    margin-bottom: 5px;
    font-size: 12px;
}

.comments-reply {
    list-style: none;
    margin: 0 0 0 70px;
}

.comments-form {
    margin-bottom: 0;
}

.comments-form .title-normal {
    margin-bottom: 20px;
}

.comments-form .btn.btn-primary {
    margin-top: 20px;
}



.sidebar .widget-title {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: 0 0 30px;
    padding-left: 15px;
    text-transform: uppercase;
    border-left: 3px solid #ffb600;
}



/* Widget common */

.sidebar .widget {
    margin-bottom: 40px;
}

.sidebar-left .widget {
    margin-right: 20px;
}

.sidebar-right .widget {
    margin-left: 20px;
}

.sidebar .widget.box {
    padding: 25px;
}

.widget.box.solid {
    background: #f2f2f2;
}

.widget.box.red {
    background: #ec483b;
    color: #fff;
}

.widget.box.red .widget-title {
    color: #fff;
}

.widget ul li {
    line-height: 30px;
}

.sidebar .widget ul li a {
    color: #303030;
}

.sidebar .widget ul li a:hover {
    color: #ffb600;
}

.sidebar .widget ul li i {
    margin-right: 5px;
}

.sidebar .btn {
    font-weight: 700;
    font-size: 12px;
    margin-top: 15px;
    padding: 10px 25px;
}


/* Sidebar nav */

.sidebar ul.nav-tabs {
    border: 0;
}

.sidebar ul.nav-tabs li a {
    color: #303030;
    border-radius: 0;
    padding: 15px 0;
    padding-left: 0;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.sidebar ul.nav-tabs li.active a,
.sidebar ul.nav-tabs li:hover a {
    color: #ffb600;
}

.sidebar ul.nav-tabs li {
    color: #303030;
    line-height: normal;
}

.sidebar ul.nav-tabs li:last-child a {
    border-bottom: 0;
}


/* Service menu */

.sidebar ul.service-menu li a {
    background-color: #f4f4f4;
    padding: 15px 20px;
    border: 0;
    margin-bottom: 8px;
    position: relative;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.sidebar ul.service-menu li.active a,
.sidebar ul.service-menu li:hover a {
    background: #ffb600;
    color: #fff;
    cursor: pointer;
}


/* Recent News */

.widget.recent-posts .widget-title {
    margin-bottom: 35px;
}

.widget.recent-posts ul li {
    border-bottom: 1px solid #dadada;
    padding-bottom: 15px;
    margin-bottom: 17px;
}

.widget.recent-posts ul li:last-child {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.widget.recent-posts .posts-thumb img {
    margin-right: 15px;
    width: 90px;
    height: 70px;
}

.widget.recent-posts .post-info .entry-title {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}

.widget.recent-posts .entry-title a {
    color: #303030;
}

.widget.recent-posts .entry-title a:hover {
    color: #ffb600;
}

.widget.recent-posts .post-date {
    font-weight: 400;
    color: #999;
    text-transform: capitalize;
}


/* Widget tags */

.widget-tags ul>li {
    float: left;
    margin: 3px;
}

.sidebar .widget-tags ul>li a {
    border: 1px solid #dadada;
    color: #303030;
    display: block;
    font-size: 14px;
    padding: 3px 15px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.sidebar .widget-tags ul>li a:hover {
    background: #ffb600;
    color: #fff;
    border: 1px solid transparent;
}


/* Error page
================================================== */

.error-page .error-code h2 {
    display: block;
    font-size: 200px;
    line-height: 200px;
    color: #303030;
    margin-bottom: 20px;
}

.error-page .error-body .btn {
    margin-top: 30px;
    font-weight: 700;
}


/* Header variation
================================================== */

/*-- Header One --*/

.header-one .site-navigation{
    background: #23282d;
}

.header-one .navbar-collapse{
    padding-left: 0;
}

.header-one ul.navbar-nav>li>a{
    padding: 15px 0;
    color: #fff;
}

.header-one ul.navbar-nav>li:hover>a, .header-one ul.navbar-nav>li.active>a{
    color: #ffb600;
}

.header-one ul.navbar-nav>li{
    padding-left: 0;
    padding-right: 20px;
}

.header-one .logo-area{
    padding: 30px 0;
}

/* Header two */

.header-two{
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}

.header-two .logo{
    padding: 28px 0;
}